@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
        font-size: 11px;
        padding: 10px;
    }

    li a {
        background-color: transparent;
        padding:0px !important;
        border-radius: 0px;
        font-weight: bold;
        border: none !important;
    }

    footer {
        position: fixed;
        bottom: 0;

      }

      footer::after
      {
        content: "x" counter('footer');
      }

      .ref-to-page {
        visibility:collapse;        
      }

      .ref-to-page::before {
        content: "www.los-sk.sk";
        visibility: visible;
      }
    


}

:target {
    background-color: #9f9;
    
 }

 .target {
    background-color: #9f9;
 }



 body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 12px;  font-variant: normal; 
    padding: 100px;
    
}

#content-table ol
{
    list-style-position: outside;
}

#content-table li {
    line-height: 1.25em;
    
}

#content-table li a {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 1px;
}

#content-table li a:hover {
    background-color: rgba(100,100,100,0.2);
    font-weight: bolder;
    
    
}

#root li a {
    text-decoration: none; 
    background-color: rgba(100,100,100,0.1);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    border:1px solid grey;
}

#root li a:hover {
  
    background-color: rgba(100,100,100,0.2);
    font-weight: bolder;
    border:1px solid black;
    box-shadow: 0 0 1px 1px grey;
}

a:visited {
    text-decoration-color: black;
    color:black;
    
}

a:link {
    text-decoration-color: black;
    color:black;
}

section {
    margin-top:50px;
}

.title-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    width:100%;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.article > h1 
{
    padding-bottom:20px;    
}

.title-page h1:last-of-type
{
    padding:0px;
    margin:0px;
    padding-bottom:50px;    
}

.title-page .logo
{
    padding:0px;
    margin:0px;
    padding-bottom:50px;
}

.title-page h2,h3
{
    margin:5px;
    padding:0px
}

.title-page .logo {
    max-width:40%;    
}

ol { 
    counter-reset: item;
    padding-left: 0px;
    margin-left: 0px;
    display:block;
 }

li {
    line-height: 32px;
    font-weight: normal;
    margin-left:0px;
    padding-left:0px;
}

ol>li { display: block; margin-bottom: 0.4em; transition: ease-in 0.25s; margin-left:10px;}
ol>li:before { content: attr(data-number); padding-right:10px; }
#page-counter::before { counter-increment: page; content:counter(page)}


li>span {
    font-size:1.75em;
    
}


li>ol>li>span.header {
    font-size:1.5em;
}

ol>li>ol>li>ol>li>span.header {
    font-size:1.25em;
}

.command-table
{
    table-layout: fixed;
    margin:10px;
    border-collapse: collapse;
}

.command-table .command-table-head
{
    background-color: rgba(192,192,192,1);
    font-size: 1.5em;
}

.command-table * 
{
    border: 1px solid black;
    padding: 5px;
}

.command-table tr:nth-child(2n+1) td
{
    text-align: center;
    font-weight: bold;
    background-color: rgba(192,192,192,0.5);

}

.command-table tr:nth-child(even)
{
    text-align: center;
}

.command-table td {
    width:50%
}


img {
    display: block;
  width: auto;
  height: auto;
  max-width:600px;
  max-height: 600px;
}