@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
        font-size: 11px;
        padding: 10px;
    }

    li a {
        background-color: transparent;
        padding:0px !important;
        border-radius: 0px;
        font-weight: bold;
        border: none !important;
    }


}

:target {
    background-color: #9f9;
    
 }

 .target {
    background-color: #9f9;
 }



 body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    padding: 100px;
}

li a {
    text-decoration: none; 
    background-color: rgba(100,100,100,0.1);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    border:1px solid grey;
}

li a:hover {
  
    background-color: rgba(100,100,100,0.2);
    font-weight: bolder;
    border:1px solid black;
    box-shadow: 0 0 1px 1px grey;
}

a:visited {
    text-decoration-color: black;
    color:black;
    
}

a:link {
    text-decoration-color: black;
    color:black;
}



.title-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    width:100%;
    padding-top: 200px;
}

.title-page .logo {
    max-width:25%;    
}

ol { 
    counter-reset: item;
    offset-position: 1em;
    padding-left: 10px;
    
 }

li {
    list-style-position: outside;
    line-height: 2em;
    font-size: normal;
    font-weight: normal;
}

ol>li { display: table; margin-bottom: 0.4em; transition: ease-in 0.25s;}
ol>li:before { content: attr(data-number); counter-increment: item;display: table-cell; padding-right:10px;}
ol>li span { font-size: large; font-weight: bold;}
ol>li span:before { font-size: large; font-weight: bold;}



